@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
  --main-color: #1992D4;
  --project-highlight-color: #EFB42B;
  --fore-color: #FFFFFF;
  --back-color: #E2E8F0;
}

.flex{
    display: flex;
}

.flex.search{
    align-items: center;
    gap: 15px;
    input{
        width: 90%;
        border: none;
        border-radius: 15px;
        background-color: var(--back-color);
        padding: 2px 10px;
    }
}

.flex.profile{
    place-self: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    p{
        font-weight: bold;
    }
}

.flex.welcome{
    align-items: center;
    gap: 15px;

    img{
        width: 60px;
        height: 60px;
    }

    div > p:first-child{
        font-size: 12px;
        font-weight: bold;
    }

    div > p:nth-child(2){
        font-weight: bold;
    }
}

.flex.buttons{
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 13px;
    button{
        border:none;
        border-radius: 17px;
        width: 27.5%;
        height: 37px;
        background-color: var(--main-color);
        color: var(--fore-color);
        font-size: 14px;
        font-weight: bold;
    }
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 3fr;
    background-color: var(--back-color);
    font-family: "Roboto";
}

.header{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 1fr;
    padding: 10px 40px 10px 40px;
    row-gap: 10px;
    background-color: var(--fore-color);
    .header-svg{
        width: 20px;
    }
}

.header img{
    border-radius: 50%;
    border: 1px gray solid;
}

.side-menu{
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 15px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 50px;
    grid-auto-rows: 25px;
    column-gap: 10px;
    row-gap: 12px;
    color: var(--fore-color);
    background-color: var(--main-color);
    font-weight: bold;
}

.grid-item.side-menu > svg:first-child{
    width: 40px;
}
.side-menu > svg:nth-child(odd) {
    justify-self: center;
    align-self: center;
    fill: var(--fore-color);
    width: 20px;
}

.side-menu > p:nth-child(even){
    align-self: center;
}

.navigation.elements > div, .navigation-element{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-content{
    grid-column: 2/3;
    grid-row: 2;
    display: grid;
    gap: 15px;
    grid-template-columns: 2.7fr 1fr;
    grid-template-rows: 1.25fr 1fr;
    padding: 10px 20px 40px 15px;
}



.projects{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;

    h3{
        font-size: 16px;
        place-self: end start;
        padding-bottom: 8px;
    }

    .project-header{
        grid-column: 1/-1;
    }

    .project-card{
        position: relative;
        background-color: var(--fore-color);
        padding: 15px 30px 10px 20px;
        border-left: solid 10px var(--project-highlight-color);
        border-radius: 5px;
        max-height: 300px;
    }

    .project-card > p{
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #717171;
    }

    .project-card > h4 {
        font-size: 14px;
    }

    .project-card svg{
        width: 20px;
    }

    .project-card > div{
        position: absolute;
        bottom: 12.5px;
        right: 20px;
        display: flex;
        gap: 15px;
    }
}

.projects > div{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap:15px;
}


.announcements{
    grid-column: 2/3;
    grid-row:1/2;
    display: grid;
    grid-template-rows: 40px 1fr;

    h3{
        font-size: 16px;
        place-self: end start;
        padding-bottom: 8px;
    }
    

    div > h4{
        font-size: 12px;
    }

    div > p{
        font-size: 11px;
        color: #717171;
         display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .announcement-card:not(:last-child) {
        border-bottom: 1px solid #D2D2D2;
    }
}

.announcements > div{
    background-color: var(--fore-color);
    border-radius: 7px;
    padding: 15px;
}

.announcement-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9.5px 0px;
}

.trending{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 40px 1fr;
    
    h3{
        font-size: 16px;
        place-self: end start;
        padding-bottom: 8px;
    }

    

    p{
        font-size: 12px;
    }

    .trending-card{
        display: flex;
    }

    .trending-card > div > p:nth-child(2){
        color: #717171;
    }

    .trending-card > img{
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }
}
.trending > div{
    background-color: var(--fore-color);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;

    div{
        margin-left: 15px;
    }
}
